/////////////
// SEARCH
.search {

  flex: 0 0 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

  @media only screen and (max-width: $bp-768) {
    flex: 0 0 50%;
  }

  &:last-child {
    @media only screen and (max-width: $bp-768) {
      flex: 1 0 100%;
    }
  }

  @media only screen and (max-width: $bp-520) {
    flex: 1 0 100%;
  }

  &__input {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 15px;
    color: inherit;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
    padding: 2.3rem 2rem 2rem 2.3rem;
    cursor: text;
    margin-left: -0.8rem; // fix
    width: 100%;
    height: 60px;

    @media only screen and (max-width: $bp-768) {
      border-bottom: none;
      margin-left: -0.9rem; // fix
    }

    &::-webkit-input-placeholder {color:#fff; opacity: 0.5;}

    &:focus {
      outline: none;
    }

    &--name {
      @media only screen and (max-width: $bp-520) {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
      }
    }

    &--phone {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    //last-input
    &--address {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      padding-left: 5.4rem;
      padding-right: 3rem;
      margin-left: -3.8rem;

      @media only screen and (max-width: $bp-768) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      &::-webkit-input-placeholder {
        border-bottom: 1px dotted #fff;

        @media only screen and (max-width: $bp-768) {
          border-bottom: none;
        }
      }
    }

  }



  &__button {
    border: none;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}


/////////////////
// BUTTON
.btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 0.7px;
      text-decoration: none;
      padding: 2.2rem 6rem;
      display: inline-block;
      border-radius: 3rem;
      transition: all .2s;
      position: relative;


      // @media only screen and (max-width: $bp-768) {
      //   padding: 3rem 7rem;
      //   font-size: 2.7rem;
      //   border-radius: 5rem;
      // }


      //Change for the <button> element
      // border: none;
      // cursor: pointer;
  }
  
  &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(#000,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  }
  
  &:active,
  &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba(#000,.2);
  }
  
  &--white {
      background-image: linear-gradient(180deg, #ffffff 0%, #68b4ff 100%);
      color: #122550;

      &::after {
        background-image: linear-gradient(180deg, #ffffff 0%, #68b4ff 100%);
      }
  }


  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 3rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;

      // @media only screen and (max-width: $bp-768) {
      //   border-radius: 5rem;
      // }
  }
}

///////////////
// Link
.btn-link {
  &,
  &:link,
  &:visited {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.7px;
      color: inherit;
      text-decoration: none;
      padding: 2.2rem 6rem;
      display: inline-block;
      position: relative;
      font-size: 1.4rem;
  }


    &::after {
      content: "";
      display: inline-block;
      width: 141px;
      height: 1px;
      position: absolute;
      background-color: #fff;
      opacity: 0.2;
      top: 42px;
      left: 58px;
      z-index: -1;
      

      @media only screen and (max-width: $bp-768) {
        width: 100px;
        top: 35px;
        left: 43px;
      }

      @media only screen and (max-width: $bp-520) {
        width: 80px;
        left: 37px;
        top: 30px;
      }

    }

}



.service-info {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width:  329px;
    height: 1px;
    position: absolute;
    background-color: #fff;
    opacity: 0.1;
    top: 13px;
    right: 245px;
    z-index: -1;

    @media only screen and (max-width: 940px) { // fix lines
      width: 100%;
    }

    @media only screen and (max-width: $bp-768) {
      width: 100px;
    }

    @media only screen and (max-width: $bp-520) {
      width: 50px;
      right: 145px;
      top: 8px;
    }

  }

  &::after {
    content: "";
    width: 329px;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
    position: absolute;
    top: 13px;
    left: 245px;
    z-index: -1;
    transition: all .4s;

    @media only screen and (max-width: 940px) { // fix lines
      width: 100%;
    }

    @media only screen and (max-width: $bp-768) {
      width: 100px;
    }

    @media only screen and (max-width: $bp-520) {
      width: 50px;
      top: 8px;
      left: 145px;
    }

  }

  &__text {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 0.7px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
  }
}

/////////////////
// STEPS
.step {
  display: flex;
  flex-direction: column;
  flex: 0 0 220px;
  margin: 0 10px;

  @media only screen and (max-width: $bp-768) {
    flex: 0 0 330px;
    margin: 10px;
  }

  &__icon {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    text-align: start;
    position: relative;

    @media only screen and (max-width: $bp-520) {
      margin: 10px 16px;
    }

    &--path {
      width: 16px;
      height: 11px;
      position: absolute;
      top: 2px;
      left: 4px;
    }
  }

  &__header-text {
    margin: 19px 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;

    @media only screen and (max-width: $bp-520) {
      margin: 5px 16px;
    }
  }

  &__info-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;

    @media only screen and (max-width: $bp-520) {
      margin: 5px 16px;
    }
  }
}


//////////////
// EXIT
.exit {
  position: absolute;
  top: 0;
  right: 50px;
  width: 23px;
  height: 23px;

  @media only screen and (max-width: $bp-768) {
    top: 0;
    right: 40px;
  }

  @media only screen and (max-width: $bp-520) {
    top: 0;
    right: 30px;
  }

}
